header {
    background-color: var(--ff-red-general-background-color);
    height: 300px;
}

h1 {
    font-family: var(--ff-quicksand-heading);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-bar {
    font-family: var(--ff-roboto-text);
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    color: #FFFFFF;
    text-transform: var(--ff-uppercase);

}