/*Globals*/

:root {
    --ff-roboto-text: 'Roboto Condensed', sans-serif;
    --ff-quicksand-heading: 'Quicksand', sans-serif;
    --ff-black-standard-text: #292929;
    --ff-white-color: #FFFFFF;
    --ff-red-general-background-color: #dd3038;
    --ff-orange: #e7613a;
    --ff-light-orange: #FDF4F2;
    --ff-uppercase: uppercase;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    flex-basis: 1200px;
}


.font-link {
    font-family: 'Quicksand', 'Roboto Condensed', 'Source Code Pro', sans-serif;
}








