/*/
colour codes for later:
*Rood #dd3038;
Oranje #e7613a;
Licht oranje #FDF4F2;
Zwart #292929 (voor standaard tekst);
Wit #FFFFFF;*!*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-link {
    font-family: 'Quicksand', 'Roboto Condensed', 'Source Code Pro', sans-serif;
}

body {
    flex-basis: 1200px;
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: Quicksand, sans-serif;
}

/*:root {
    --main-heading-font-family: 'Roboto Condensed', sans-serf;
    --main-text-font-family: 'Quicksand', sans-serif;
    --standard-font-text-color: #0C0C0C;
}*/




