body, html {

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-heading-font-family: 'Roboto Condensed', sans-serif;
  --main-text-font-family: 'Quicksand', sans-serif;
  --standard-font-text-color: #0C0C0C;
}